@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto';
  color: rgb(237, 234, 234);
  background: #efefef;
}

.appcont {
  background: url('./images/mountains.jpg');
  height: 100vh;
  margin: 0;
  padding-left: 5rem;
  padding-right: 5rem;

  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.todayBanner {
  display: flex;
  justify-content: space-between;
}

.contBackground {
  background-color: rgba(204, 209, 213, 0.425);
  padding: 1.5rem;
  border-radius: 1rem;
}

.leftSideCont {
  width: 15rem;
}

.todayLocation {
  font-family: 'Outfit';
  font-size: 2.5rem;
}

.todayTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.nowTemp {
  font-size: 4rem;
  margin-top: 1rem;
  font-weight: 800;
}

/* .todayIcon > .weatherIcon {
  height: 200px;
} */

.todayCont > .iconCont {
  display: flex;
  height: 100px;
}

.searchForm {
  background-color: rgba(128, 128, 128, 0.461);
  border-radius: 1.5rem;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
.searchForm > form {
  display: flex;
  justify-content: space-around;
}

#locationSearch {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

#locationSearch:focus {
  outline: none;
}

#submit {
  height: 2rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.toggleBtn {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: 0px;
}

.btn {
  border: 1px solid #1a1a1a;
  display: inline-block;
  padding: 1px;
  position: relative;
  margin: 0;
  width: 2rem;
  text-align: center;
  transition: background-color 600ms ease, color 600ms ease;
}

input:checked + label {
  background-color: grey;
}

input:not(:checked) + label {
  cursor: pointer;
}

#us-btn + label {
  margin-left: -1px;
}

input[type='radio'] {
  display: none;
  cursor: pointer;
}

/* input[type='radio'].toggle {
  display: none;
  & + label {
    cursor: pointer;
    min-width: 60px;
    &:hover {
      color: #1a1a1a;
    }
    &:after {
      background: #1a1a1a;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      width: 100%;
      z-index: -1;
    }
  }
  &.toggle-left + label {
    border-right: 0;
    &:after {
      left: 100%;
    }
  }
  &.toggle-right + label {
    margin-left: -5px;
    &:after {
      left: -100%;
    }
  }
  &:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
    &:after {
      left: 0;
    }
  }
} */

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.rightSideCont {
  display: flex;
  height: fit-content;
}

.precipTitle {
  font-family: Outfit;
  font-size: 2.5rem;
}

.precipIconCont {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.precipIcon {
  height: 6rem;
}

.precipPercent {
  font-size: 3rem;
}

.weeklyForecastCont {
  display: flex;
  justify-content: space-between;
}

div {
  /* border: solid red 1px; */
}

.dayCont {
  width: 6rem;
  padding: 1rem;
  /* border: red solid 1px; */
  background-color: rgba(255, 252, 252, 0.263);
  border-radius: 1rem;
}

.dayTitle {
  font-family: Outfit;
  font-size: 1.2rem;
  font-weight: 100;
}

.dayCont > .iconCont {
  height: 5rem;
  padding: 0;
  margin-left: 0rem;
  margin-bottom: -1.2rem;
}

.iconCont > img {
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: -0.7rem;
}

.hide {
  display: none;
}

/* .forecastIcon {
  width: 100%;
} */
